body {
  background: #000;
  color: #fff;
}

.pink {
  color: #eb76dd;
}
.teal {
  color: #05fbfc;
}
.brightpink {
  color: #fa2890;
}
.money {
  color: #235826;
}
.gold {
  color: #FFD700;
  font-weight: 600;
}

.bold {
  font-weight: 600;
  font-size: 110%;
}

.name {
font-size: 150%;
font-weight; 600;
}

.answer-data {
  display: inline-block;
  margin-top: 5em;
  margin-left: 5em;
}

.container-fluid {
  margin-bottom: 18em;
}

.shark { max-height: 9em; }

.center { text-align: center; }
.right { text-align: right; }

.charo { font-family: 'Charmonman', cursive; }
.indie { font-family: 'Indie Flower', cursive; }
.lobster { font-family: 'Lobster', cursive !important; }
.paci { font-family: 'Pacifico', cursive; }
.ms { font-family: 'Merriweather Sans', sans-serif; }
.sri { font-family: 'Srisakdi', cursive; }

.hidden {
  display: none;
}
