<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>
  <link href="https://fonts.googleapis.com/css?family=Charmonman|Indie+Flower|Lobster|Merriweather+Sans|Pacifico|Srisakdi" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script>
    $(document).ready(function(){
      var questions = [
        {"n": "gold", "q": "<span class='gold'>Gold</span>, in or out?",},
        {"n": "secret", "q": "Tell me a secret",},
        {"n": "love", "q": "how much do you love money? answer 1-10",},
        {"n": "passport", "q": "What's your passport number?",},
        {"n": "asset", "q": "What's your most valuable asset?",},
        {"n": "dog", "q": "How much would you sell me your dog for? If no dog, how much would you sell me your dad for?",},
        {"n": "piles", "q": "Is it ok if I privately send you photos of piles of money? if so respond with your email",},
        {"n": "rich", "q": "What makes you feel rich?",},
        {"n": "horny", "q": "Is this survey making you horny? BE HONEST",},
        {"n": "smell", "q": "Smell your finger and describe the smell here",},
        {"n": "spendng", "q": "What do you like spending money on?",},
        {"n": "identify", "q": "Do you identify as a future millionaire, future billionaire or living god?"}
      ];
      function guid() {
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
          s4() + '-' + s4() + s4() + s4();
      }

      function s4() {
        return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
      }
      $("form").prop("id", guid());
      function getRandom() {
        return Math.floor(Math.random() * Math.floor(questions.length));
      }
      function getRandomSubarray(arr) {
        var shuffled = arr.slice(0), i = arr.length, temp, index;
        while (i--) {
            index = Math.floor((i + 1) * Math.random());
            temp = shuffled[index];
            shuffled[index] = shuffled[i];
            shuffled[i] = temp;
        }
        return shuffled.slice(0, 3);
      }
      var socket = io();
      $(document).on("change", "input, textarea", function(){
        socket.emit("answer", getFormData());
      });
      $(document).on("click", "#thebutton", function(){
        $("#form-container").addClass("hidden")
        $("#thanks-container").removeClass("hidden")
      });
      $(document).on("click", "#edit", function(){
        $("#form-container").removeClass("hidden")
        $("#thanks-container").addClass("hidden")
      });
      var show = getRandomSubarray(questions);
      $form = $("form")
      console.log(show)
      show.forEach(function(question) {
        $tem = $("#template").clone();
        $tem.prop("id", undefined);
        $tem.find("label").prop("name", question["n"])
        $tem.find("label").html(question["q"])
        $tem.find("textarea").prop("id", question["n"])
        $tem.find("textarea").prop("name", question["n"])
        $tem.appendTo($form)
      })
    });
    function getFormData() {
      var result = {};
      result["id"] = $form.prop("id")
      result["name"] = $("#name").val()
      result["questions"] = []
      $answers = $(".answer:visible")
      for (var i = 0; i < $answers.length; i++){
        var answer = $($answers[i])
        result["questions"].push({
          "q": answer.find("label").text(),
          "a": answer.find("textarea").val(),
        })
      }
      return result
    }
  </script>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="main-header charo pink">Andrew's Investors Survey</h3>
        <h2 class="sub-header center ms brightpink">omg THIS RULES</h2>
        <h1 class="sub-header right lobster teal">right?????</h1>
        <h1 class="sub-header center lobster money">$$$$$$$ <span class="brightpink">&#9829;&#9829;&#9829;</span></h1>
        <h4 class="sub-header ms brightpink">i promise yr answers are 100% secret!!!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img class="shark" src="http://www.andrewritchie.info/images/hammerhead_shark.jpg"/>
        <h5 class="sub-header ms brightpink">this shark is here cuz <span class="bold lobster">sharks are cool as fuck bro</span> !!!</h5>
      </div>
    </div>
    <div class="row">
      <div id="form-container" class="col-xs-12">
        <form id="form">
          <div class="form-group">
            <label for="name">what's yo name darlin'?</label>
            <input type="text" class="form-control" id="name" placeholder="hopin 4 sumthin like Isabella or Oswaldo but be honest child">
          </div>
        </form>

        <button id="thebutton" class="btn btn-default teal bg-brightpink">Submit!!!!</button>
      </div>
      <div id="thanks-container" class="hidden col-xs-12">
        <h1 class="pink"><span class="brightpink">&#9829;</span>THANKS BRO!!<span class="brightpink">&#9829;</span></h1>
        <p id="edit">Edit your answers</p>
      </div>
    </div>
  </div>
  <div class="hidden">
    <div id="template" class="form-group answer">
      <label for=""></label>
      <textarea class="form-control" id="" placeholder=""></textarea>
    </div>
  </div>
</body>
</html>
