<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  <link href="https://fonts.googleapis.com/css?family=Charmonman|Indie+Flower|Lobster|Merriweather+Sans|Pacifico|Srisakdi" rel="stylesheet">
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="main-header charo pink">Andrew's Hedge Fund</h3>
        <h2 class="sub-header ms brightpink">omg THIS RULES</h2>
        <h1 class="sub-header lobster teal">right?????</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form id="form">
          <div class="form-group">
            <label for="name">what's yo name darling?</label>
            <input type="text" class="form-control" id="name" placeholder="I hope it's something sweet like Isabella or Oswaldo but be honest child">
          </div>
        </form>
      </div>
    </div>
  </div>


</body>
</html>
